/****************reset************/
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
/************general***********/
html,body{
  font-family: "Open Sans", sans-serif;
  color: #222;
}
h1,h2,h3{
  margin-bottom: 20px;
}
a{
  color: #222;
  text-decoration: none;
}
p{
  margin-bottom: 10px;
}
.container{
  max-width: 1000px;
  display: block;
  margin: auto;
}

.separator {
  height: 10px;
  width: 100px;
  background: #111;
  margin: 20px auto;
}
.btn{
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}
.btn-primary{
  background: white;
  color: #222;
}
.btn-primary:hover{
  background: #222;
  color: white;
}
.btn-dark{
  background: #222;
  color: white;
}
.btn-dark:hover{
  background:white;
  color: #222;
  border:1px solid #222

}
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

/****header*********/
.header{
  background:#333;
  line-height: 1.7em;
  overflow: auto;
}
.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}
.header nav h1 a{
  color: white;
}
.header nav ul{
  float: right;
  list-style: none;
}

.header nav ul li{
  float: left;
}
.header nav ul li a{
  padding: 20px;
  display: block;
  color: white;
}
.header nav ul li a:hover{
  background:#9b59b6;
}
.active{
  background:#9b59b6;
}
.vp{
  background: url(../images/frame.jpg) center center/cover;
  height: 700px;
  
}
.vp-content{
  max-width: 600px;
  padding: 20px;
  padding-top:150px;
  display: block;
  margin: auto;
  text-align: center;
  
}

.vp-content h1 {
  font-size: 3rem;
  color: white;
}
.vp-content p {
  color: white;
  line-height: 1.9em;
  font-size: 18px;
  letter-spacing: 0.5px;
}
/*****************features**************/
.features {
  overflow: auto;
  padding: 100px 20px;
  text-align: center;
}
.feature {
  float: left;
  width: 50%;
}
/************person*******/
.person{
  height: 500px;
  background: url(../images/person.jpg) center center /cover;
}
/**********reservation************/
.reservation{
padding: 100px 20px;
text-align: center;
}
footer{
  background: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
}
footer p{
  margin-bottom: 0;
}
/*************maps*****************/
.maps{
  overflow: auto;
  padding: 100px 0;
  min-height: 100vh;
}
.maps-images{
  float: left;
  width: 40%;
}
/*img {
  width: 400px;
  height: 100%;
}*/
.content {
  float: right;
  overflow: auto;
  width: 50%;
  text-align: center;
}

.separator2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.mp {
  border-radius: 50%;
  
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 19px;
}
.mp-purple{
  
  background: #9b59b6;
}
.mp-brown{
background: brown;
}
/**********************/



.contact-form {
  min-height: 100px;
  padding: 100px 0;
  }
.contact-form-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}





